#pageHeader{
    background: transparent;
    position: absolute;
    top: calc(4.5rem + 1rem);
    left: 50%;
    transform: translate(-50%, -50%);
}

#pageHeader img { height: 7rem; }

#container {
    display: flex;
    flex: 1;
    background-image: url("../../assets/images/backgroundImages/login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#formulary { 
    margin: auto 0;
    width: 90%;
    padding: 3.2rem; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1.2rem #B8B8B8;
    border-radius: 0.6rem;
    background: rgb(249, 249, 249, 0.8);
}

#formulary h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
}

#formulary label{
    cursor: text;
    font-weight: 700;
    font-size: 1.8rem;
    color: #333;
}

#formulary input{
    height: 3rem;
    margin-bottom: 1.2rem;
    padding: .6rem;
    border: 1px solid #B8B8B8;
    border-radius: 0.6rem;
    background: rgb(249, 249, 249, 0.6);

    transition: border 0.6s;
}

#formulary input:focus {
    border: 1px solid #3F46FF;
    background: #f9f9f9;
}

#formulary button {
    height: 3.2rem;

    border: none;
    border-radius: 0.6rem;

    color: #f9f9f9;
    font-size: 1.8rem;
    font-weight: 700;

    background: #FF3636;
    transition: color 0.4s, background 0.6s;
}

#formulary button:hover { 
    color: #222;
    background: rgba(255, 54, 54, 0.7); 
}

#formulary div {
    margin-top: 1.2rem;;
    display: inline-flex;
    justify-content: space-between;
}

@media (min-width: 1080px) {
    #formulary { 
        width: 36rem;
    }
    #formulary div {
        margin-top: 1.2rem;;
        display: inline-flex;
        justify-content: space-between;
    }
    
    #formulary h2 {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 3.6rem;
    }
}