#content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 5.2rem;

    background-image: url("../../assets/images/backgroundImages/noData.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.warning {
    text-align: start !important;
    font-size: 1.7rem;
    margin: -2.4rem 0 .8rem 0;
}

#formulary {
    width: 100%;
    margin: 1.8rem 0 0 0;
    padding: 3rem; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1.2rem var(--color-boxShadow);
    border-radius: 0.6rem;
    background: var(--color-background-white-with-opacity);
}

#formulary h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
}

#formulary label{
    cursor: text;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-text);
}

#formulary input{
    height: 3rem;
    margin-bottom: 2.4rem;
    padding: .6rem;
    border: 1px solid var(--color-border);
    border-radius: 0.6rem;
    background: var(--color-input-background);

    transition: border 0.6s;
}

#formulary input:focus {
    border: 1px solid var(--color-principal-blue);
    background: var(--color-background-white);
}

#formulary button {
    height: 3.4rem;

    border: none;
    border-radius: 0.6rem;

    color: var(--color-text-white);
    font-size: 1.8rem;
    font-weight: 700;

    background: var(--color-principal-red);
    transition: color 0.4s, background 0.6s;
}

#formulary button:hover { 
    color: var(--color-text);
    background: var(--color-principal-red-with-opacity); 
}

@media only screen and (min-width: 720px){
    .warning {
        margin: -1.2rem 0 .8rem 0;
    }
    #formulary { 
        width: 50rem;
        margin: auto;
    }

    #formulary input{
        margin-bottom: 1.2rem;
    }	
}

@media only screen and (min-width: 1080px) {
    #formulary { 
        margin: auto;
    }

    #formulary div {
        margin-top: 1.2rem;;
        display: inline-flex;
        justify-content: space-between;
    }
    
    #formulary h2 {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 3.6rem;
    }
}