body{
    margin: 0;
}

.col{
    width: 50%;
    margin: 10px auto;
    background: #eeeeee;
    height: auto;
    transition: all 1s;
    overflow: hidden;
    border: 2px solid #c7c0c0;

}
.col.close{
    transition: all 1s;
    width: 50%;
    margin: auto;
    background: #eeeeee;
    border-bottom: none;
}
.col.close .imgUp{
    display: none;
}
.col .imgDow{
    display: none;
}

.col.close .imgDow{
    cursor: pointer;
    display: inline-block;
}
.expandir{
    display: inline-block;
    font-size: 12px;
}
.expandir h1{
    display: inline;
}
.formTop{
    background-color: #ddd;
    text-align: center;
    border-bottom: 2px solid #c7c0c0;
}
.formTop img{
    cursor: pointer;
    height: 15px;
}
.formDeFault{
    width: 80%;
    margin: 10px auto;
}
.labelDefault{
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}
.labelDefault.rua{
    width: 89%;
}
.labelDefault.numero{
    width: 10%;
}
.labelDefault.uf{
    width: 30%;
}
.labelDefault.complemento{
    width: 69%;
}
.nomes{
    width: 13%;
    font-size: 20px;
    float: left;
}
.nomes.display{
    float: none;
    display: block;
}
.nomes.novaSenha{
    width: 20%;
}
.inputDefault{
    margin-left: 27px;
    width: 80%;
    border-radius: 10px;
    background-color: #ddd;
    height: 30px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
} 
.inputDefault.novaSenha{
    width: 73%;
}
.inputDefault.cep{
    width: 50%;
}
.inputDefault.uf{
    width: 50%;
}
.inputDefault.complemento{
    width: 100%;
}
.margin{
    margin: 0;
}
.total{
    width: 100%;
}
.buttonDefault{
    height: 40px;
    width: 100%;
    background: rgba(255, 0, 0, 0.918);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.btnCep{
    text-align: end;
    display: inline-block;
    width: 29%;
    cursor: pointer;
}
.dadosOff{
    display: none;
}
.enderecoOff{
    display: none;
}
.pedidosOff{
    display: none;
}
.pedidos{
    display: flex;
    margin: 10px 0;
}
.numeroPedido{
    display: flex;
    align-items: center;
    background-color:blue;
    width: 35%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.numeroPedido img{
    width: 30%;
    height: 20px;
}
.numeroPedido span{
    width: 70%;
    font-weight: bolder;
    color: white;
}
.dataPedido{
    display: flex;
    align-items: center;
    background-color:#969696;
    width: 30%;
    height: 30px;
}
.dataPedido span{
    font-weight: bolder;
    color: white;
    margin: auto;
}
.statusPedidoDefault{
    display: flex;
    align-items: center;
    width: 35%;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.statusPedidoDefault span{
    font-weight: bolder;
    color: white;
    margin: auto;
}
.statusPedidoDefault.concluido{
    background-color: #07ea0ebf;
}
.statusPedidoDefault.processando{
    background-color: #ffa500c4;
}
.statusPedidoDefault.cancelado{
    background-color: #ff0000bd;
}