body{
    margin: 0;
    background-color: #ddd;
    box-sizing: border-box;
}
.content{
    margin:auto;
}

main{
    width: 80%;
    margin: auto;
}
.content-section{
    margin-top: 15px;
    background-color:  white;
    padding: 9px;
    overflow: hidden;
}
.cards{
    margin-top: 10px;
    margin-left: 2%;
    width: 31%;
    float: left;
}
.cards img{
    width:100%;
    display: block;
}
.cards p {
    color: white;
    background-color: rgba(0,0,0,.7);
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}

