:root{
    font-size: 65%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}

h2 {
    color: #000581;
}

button {
    cursor: pointer;
}

body, button, input, textarea {
    font: 400 1.6rem 'Roboto', sasans-serif; 
}

input::placeholder{
    color: #999999;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.warning {
    color: #FF3636;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;

    transition: font-size 0.2s;
}


footer {
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background: #3F46FF;
    text-align: center;
}

footer p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #f9f9f9;
}


@media (min-width: 1080px){/* Em telas com no minimo 1080px... */
    :root {
        /*com font-size: 62.5%, 1rem é equivalente a 10px*/
        font-size: 62.5%;
    }
}